*.swp
*.acn
*.bbl
*.blg
*.glo
*.ist
*.log
*.out
*.synctex.gz
*.thm
*.toc
*.aux
*.lof
*.lot
*.DS_Store
*.idx
*.nlo
*.hd
zhmakeindex
__latexindent_temp_nwputhesis.cls
nwputhesis-sample.synctex(busy)
*.xdv
*.fls
*.fdb_latexmk
